html, body {
  margin: 0;
  padding: 0;
}

.viewport {
  font-family: 'Courier New', monospace;
  max-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  padding: 10px;
  overflow: auto;
  flex-grow: 1;

  > div {
    &:not(:first-child) {
      margin-left: auto;
    }
    &:not(:last-child) {
      margin-right: auto;
    }
  }
}

.suggestions {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 300px;

  .title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
  }

  .detail, .instructions {
    color: dimgray;
    margin-bottom: 20px;
    user-select: none;
    font-size: 12px;
  }

  .list {
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      align-items: baseline;
      margin-bottom: 4px;
      cursor: pointer;

      .ordinal {
        margin-right: 8px;
      }

      .word {
        font-size: 21px;
        font-weight: bold;
      }

      .details {
        font-size: 14px;
        color: dimgray;
        padding-left: 10px;
        user-select: none;

        span {
          &:first-child {
            padding-left: 5px;
          }

          padding-right: 9px;
        }
      }
    }
  }
}

.game-ctr {
  .title {
    font-size: 28px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
    display: block;
    color: black;
    user-select: none;

    .logo {
      display: inline-block;
      padding-right: 5px;
      $wh: 28px;
      width: $wh;
      height: $wh;
      vertical-align: middle;
    }
  }

  .info, .tagline {
    font-size: 12px;
    color: dimgray;
    max-width: max(450px, 60vw);

    p {
      margin-bottom: 10px;
    }
  }

  .game {
    margin-top: 20px;

    $wh: 50px;

    .game-row {
      display: flex;
      margin-bottom: 3px;

      &.active {
        .game-cell {
          cursor: pointer;
        }

        .buttons {
          display: flex;
          margin-left: 8px;

          .button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: $wh;
            height: $wh;
            margin-right: 3px;
            border-radius: 3px;
            box-sizing: border-box;
            font-size: 2rem;
            font-weight: bold;
            user-select: none;
            transition: background-color 0.25s ease-in-out;

            &.enabled {
              cursor: pointer;

              @mixin button-coloring($c) {
                background-color: $c;
                &:hover {
                  background-color: lighten($c, 20%);
                }
              }

              &.reset-button {
                @include button-coloring(#4a4a4a);
              }

              &.confirm-button {
                @include button-coloring(#538d4e);
              }
            }

            &.disabled {
              cursor: not-allowed;
              background-color: #c6c6c6;
              filter: grayscale(1);
            }
          }
        }
      }

      $correct: #538d4e;
      $misplaced: #b59f3b;
      $excluded: #818384;

      @mixin cell-coloring-helper($state, $class, $color) {
        &#{$state} {
          .game-cell#{$class} {
            background-color: $color;
          }
        }
      }

      @function cell-inactive-recoloring($color) {
        $ds: 5%;
        $dk: 5%;

        @return darken(desaturate($color, $ds), $dk);
      }

      @mixin cell-coloring($class, $color) {
        @include cell-coloring-helper(".active", $class, $color);
        @include cell-coloring-helper(".inactive", $class, cell-inactive-recoloring($color));
      }

      @include cell-coloring(".c-correct", $correct);
      @include cell-coloring(".c-misplaced", $misplaced);
      @include cell-coloring(".c-excluded", $excluded);

      .game-cell.empty {
        background-color: cell-inactive-recoloring($excluded);
      }

      &.inactive .game-cell {
        cursor: not-allowed;
      }

      .game-cell {
        width: $wh;
        height: $wh;
        margin-right: 3px;
        border-radius: 3px;
        box-sizing: border-box;
        font-size: 2rem;
        color: white;
        text-align: center;
        user-select: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
      }

      .entropy {
        align-items: center;
        display: inline-flex;
        font-size: 12px;
        font-style: italic;
        padding-left: 12px;
      }
    }
  }

}

.click-text {
  &, &:visited {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  cursor: pointer;
  font-weight: bold;
}

.footer {
  font-size: 12px;
  padding: 3px;

  &.debug {
    background-color: orangered;
    color: white;
    font-weight: bold;
  }

  &:not(.debug) {
    color: #818384;
  }
}